@font-face {
    font-family: LEGO;
    src: url(assets/fonts/LEGO.ttf);
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'THE LEGO MOVIE', sans-serif;
}

body {
    /* background-color: black; */

    background-color: #F3F6FB;
}

main {
    background-color: #FAF9F6;
    border-radius: 10px;
    border: 2px solid gray;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    max-width: 1300px;
}


.container-fluid {
    max-width: 90vw;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    height: 5rem;
    /* background-color: black; */
    background-color: #F3F6FB;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! TYPOGRAPHIE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.title-word {
    font-family: LEGO;
    font-size: 2.3rem;
    color: white;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-shadow: black 3px 2px, yellow 4px 3px;
    animation: color-animation 4s linear infinite;
}

.title-word-1 {
    --color-1: #F7ED3E;
    --color-2: #FD4919;
}

.title-word-2 {
    --color-1: #FD4919;
    --color-2: #F7ED3E;
}

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }

    25% {
        color: var(--color-1)
    }

    50% {
        color: var(--color-2)
    }

    75% {
        color: var(--color-2)
    }


    100% {
        color: var(--color-1)
    }
}

h2 {
    text-align: center;
    letter-spacing: 0.2rem;
    color: rgb(224, 97, 41);
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;

}

p {
    font-size: 1.2rem;
    color: black;
    text-align: center;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!  CARDS  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.row {
    padding-top: 2rem;
}

.card {
    background-color: transparent;
    border: none;

}

#card-img-1 {
    width: 68%;
    padding-top: 1.3rem;
    margin-bottom: -0.7rem;
}

#card-img-2 {
    padding-top: 0.5rem;

}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! BUTTONS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.button {

    background-color: #F7ED3E;
    border: 2px solid #422800;
    border-radius: 10px;
    box-shadow: #422800 4px 4px 0 0;
    color: black;

    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 2rem;
}

.button:hover {

    color: rgb(224, 97, 41);
    ;
    background-color: #FAF9F6;
}

.button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  SPECH  BUBBLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.sprechblase4 {
    padding: 1rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    width: 80%;
    min-height: 15rem;
    background: white;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: flex;
    align-items: center;
}

.sprechblase4:after,
.sprechblase4:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.sprechblase4:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: white;
    border-width: 20px;
    margin-left: -20px;
}

.sprechblase4:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: black;
    border-width: 26px;
    margin-left: -26px;
}

.sprechblase4 p {
    margin-bottom: 0;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: black; */
    /* background-color: #F3F6FB; */
    color: black;
    text-align: center;
    height: 5rem;

}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! MEDIA QUEERIES !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media only screen and (min-width: 765px) {
    main {
        background-color: #FAF9F6;
        border-radius: 10px;
        border-left: 1px solid gray;
        border-right: 1px solid black;
        border-top: 1px solid gray;
    }

    h1 {
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }

    h2 {
        font-size: 25px;
    }

    .sprechblase4 {

        min-height: 22rem;
    }

    .row {
        padding-top: 0rem;
    }

    .button {
        min-width: 120px;
        padding: 0 25px;
    }
}

@media only screen and (min-width: 1000px) {

    h2 {
        font-size: 32px;
    }

    .sprechblase4 {
        min-height: 18rem;
    }

    .title-word {
        font-size: 3rem;
    }



    .container-fluid {
        max-width: 90vw;
        margin: 0 auto;
    }
}